/**************************************
        Common Shared Styles 
 **************************************/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

/* header related styles  */
header {
    background: rgba(229, 84, 115, 0.10);
}

/* Banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 135px;
    padding-top: 35px;
}

.banner-content {
    max-width: 600px;
}

.banner-flower {
    width: 490px;
    height: 660px;
}

.banner-title {
    color: #272727;
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 50px;
}

.banner-descriptoin {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* Main section Styles */

/* Featured flowers styles  */
.featured-flowers {
    margin: 0 135px;
}

.featured-flowers-gallery {
    display: flex;
    gap: 24px;
    /* justify-content: space-evenly; */
}

.featured-flower-item {
    width: 33.33%;
}

.featured-flower {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}



/* Hot deal related styles */
.hot-deal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 175px;
}

.hot-deal-content {
    max-width: 600px;
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.hot-deal-off {
    color: #E55473;
}

.hot-deal-brief {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.hot-deal-pic {
    width: 215px;
    height: 260px;
}

/* Flower Instagram related styles */
.flower-instagram {
    margin: 128px 135px;
}

.instagram-flowers {
    display: flex;
    gap: 24px;
}

.flower-instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
}

.flower-instagram-breif {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 594px;
    margin: auto;
    padding: 0 0 48px 0;
}

.insta-flower {
    width: 295px;
    height: 325px;
}

/* Latest Deals related Styles  */
.latest-deals {
    margin: 0 135px 128px 135px;
}

.latest-deals-content {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    padding: 100px 0;
}

.latest-deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.latest-deals-coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.Subscribe-form {
    text-align: center;
}

.Subscribe-mail {
    border-radius: 8px;
    background: #FFF;
    padding: 22px;
    border: 0;
    width: 500px;
    margin-right: 10px;
}

/* footer related styles  */

footer {
    text-align: center;
    background-color: #111010;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 90px;
}

footer .shop {
    color: #fff;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    max-width: 625px;
    margin: auto;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    padding-bottom: 100px;
    margin-bottom: 0;
    padding-top: 30px;
}